{% extends 'fruit_app/base.html'%} {% load static %}
<div>
  {% block infos %}
  <div class="info-section">
    <div class="info-header">
      <h2>✨ Why Fruits Matter ✨</h2>
      <p>
        Fruits are more than just delicious snacks — they are essential for a
        healthy and balanced life.
      </p>
    </div>

    <div class="info-grid">
      {% for fruit in fruits %}
      <div class="info-card">
        <img src="{% static fruit.img %}" alt="{{fruit.name}}" />
        <h3>{{fruit.infos.title}}</h3>
        <p>{{fruit.infos.description}}</p>
        <div class="vitamins">
          {% for vitamin in fruit.infos.vitamins %}
          <span>{{vitamin}}</span>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="info-link-wrapper">
    <a class="info-link" href="http://127.0.0.1:8000/fruits/list/"
      >Go to Home</a
    >
  </div>

  {% endblock %}
</div>
